In [2]:
from pathlib import Path
import pandas as pd

In [3]:
#import vine_table csv
data = Path('vine_table.csv')
df = pd.read_csv(data)
df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RGYFDX8QXKEIR,4.0,0.0,0.0,N,N
1,R13CBGTMNV9R8Z,4.0,1.0,2.0,N,Y
2,R7DRFHC0F71O0,5.0,0.0,0.0,N,N
3,R27LUKEXU3KBXQ,5.0,1.0,1.0,N,Y
4,R1VXTPUYMNU687,5.0,1.0,2.0,N,N
...,...,...,...,...,...,...
5101688,RDI2BF4QD492Y,3.0,1.0,1.0,N,Y
5101689,R23UCERX5NG2ZU,1.0,0.0,0.0,N,N
5101690,REXVNT3PZM4YC,5.0,1.0,1.0,N,Y
5101691,RUBZ7PGT4XFCG,5.0,4.0,4.0,N,Y
5101692,R1KC5WONSFLDOQ,5.0,0.0,0.0,N,N

In [4]:
#filter Total_votes column to show only those >= 20
votes_df = df[(df["total_votes"] >= 20)]
votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
18,R39ESX43X1SA5T,1.0,36.0,47.0,N,Y
26,R31QRZ3JAMPBB4,1.0,16.0,26.0,N,Y
90,R23FKBEXURC3SN,5.0,28.0,36.0,N,N
190,R4IAIDV5EE84W,1.0,8.0,21.0,N,Y
241,R26MB2DA7ROT4P,1.0,2.0,21.0,N,Y
...,...,...,...,...,...,...
5101532,R2AABCEXA6ZUS0,2.0,31.0,37.0,N,N
5101563,R1YGG88TG3770M,5.0,19.0,23.0,N,Y
5101596,R1VI5F2N7ZC8EE,1.0,33.0,53.0,N,N
5101632,RCDBF5EIN5KHS,1.0,8.0,51.0,N,N
5101637,R1SPVI2AR5IHGF,1.0,11.0,46.0,N,N

In [5]:
#retrieve rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
# create ['result'] column showing helpful_votes / total_votes
votes_df['Result'] = votes_df['helpful_votes']/votes_df['total_votes']

votes_df

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,Result
18,R39ESX43X1SA5T,1.0,36.0,47.0,N,Y,0.765957
26,R31QRZ3JAMPBB4,1.0,16.0,26.0,N,Y,0.615385
90,R23FKBEXURC3SN,5.0,28.0,36.0,N,N,0.777778
190,R4IAIDV5EE84W,1.0,8.0,21.0,N,Y,0.380952
241,R26MB2DA7ROT4P,1.0,2.0,21.0,N,Y,0.095238
...,...,...,...,...,...,...,...
5101532,R2AABCEXA6ZUS0,2.0,31.0,37.0,N,N,0.837838
5101563,R1YGG88TG3770M,5.0,19.0,23.0,N,Y,0.826087
5101596,R1VI5F2N7ZC8EE,1.0,33.0,53.0,N,N,0.622642
5101632,RCDBF5EIN5KHS,1.0,8.0,51.0,N,N,0.156863
5101637,R1SPVI2AR5IHGF,1.0,11.0,46.0,N,N,0.239130

In [6]:
#retrieve rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
# filter ['result'] column showing rows greater than/equal to .5
votes_filter = votes_df[(votes_df["Result"] >= .5)]
votes_filter

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,Result
18,R39ESX43X1SA5T,1.0,36.0,47.0,N,Y,0.765957
26,R31QRZ3JAMPBB4,1.0,16.0,26.0,N,Y,0.615385
90,R23FKBEXURC3SN,5.0,28.0,36.0,N,N,0.777778
368,RTRVYV0GWUTCK,5.0,18.0,25.0,N,Y,0.720000
394,R3QLZAI37SNOOC,2.0,30.0,31.0,N,Y,0.967742
...,...,...,...,...,...,...,...
5101525,R12UGECM0W7NU1,1.0,14.0,20.0,N,N,0.700000
5101528,R3E888STF6AQCC,1.0,30.0,58.0,N,N,0.517241
5101532,R2AABCEXA6ZUS0,2.0,31.0,37.0,N,N,0.837838
5101563,R1YGG88TG3770M,5.0,19.0,23.0,N,Y,0.826087
5101596,R1VI5F2N7ZC8EE,1.0,33.0,53.0,N,N,0.622642

In [7]:
#retrieve rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
# delete ['result'] column after filtering
del votes_filter['Result']
votes_filter

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
18,R39ESX43X1SA5T,1.0,36.0,47.0,N,Y
26,R31QRZ3JAMPBB4,1.0,16.0,26.0,N,Y
90,R23FKBEXURC3SN,5.0,28.0,36.0,N,N
368,RTRVYV0GWUTCK,5.0,18.0,25.0,N,Y
394,R3QLZAI37SNOOC,2.0,30.0,31.0,N,Y
...,...,...,...,...,...,...
5101525,R12UGECM0W7NU1,1.0,14.0,20.0,N,N
5101528,R3E888STF6AQCC,1.0,30.0,58.0,N,N
5101532,R2AABCEXA6ZUS0,2.0,31.0,37.0,N,N
5101563,R1YGG88TG3770M,5.0,19.0,23.0,N,Y
5101596,R1VI5F2N7ZC8EE,1.0,33.0,53.0,N,N

In [8]:
# filter by customers not enrolled in the vine program 
votes_unpaid = votes_filter[(votes_filter['vine'] == "N")]
votes_unpaid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
18,R39ESX43X1SA5T,1.0,36.0,47.0,N,Y
26,R31QRZ3JAMPBB4,1.0,16.0,26.0,N,Y
90,R23FKBEXURC3SN,5.0,28.0,36.0,N,N
368,RTRVYV0GWUTCK,5.0,18.0,25.0,N,Y
394,R3QLZAI37SNOOC,2.0,30.0,31.0,N,Y
...,...,...,...,...,...,...
5101525,R12UGECM0W7NU1,1.0,14.0,20.0,N,N
5101528,R3E888STF6AQCC,1.0,30.0,58.0,N,N
5101532,R2AABCEXA6ZUS0,2.0,31.0,37.0,N,N
5101563,R1YGG88TG3770M,5.0,19.0,23.0,N,Y
5101596,R1VI5F2N7ZC8EE,1.0,33.0,53.0,N,N

In [16]:
# determine the total amount of votes from customers not enrolled in the vine program 
votes_unpaid['review_id'].count()

65149

In [10]:
# determine the total amount of votes with 5-star ratings from customers not enrolled in the vine program 
votes_unpaid[(votes_unpaid["star_rating"] == 5.0)].count()

review_id            24673
star_rating          24673
helpful_votes        24673
total_votes          24673
vine                 24673
verified_purchase    24673
dtype: int64

In [11]:
# determine the percentage of 5-star votes from customers not enrolled in the vine program 
(votes_unpaid[(votes_unpaid["star_rating"] == 5.0)].count()) / (votes_unpaid.count())

review_id            0.378716
star_rating          0.378716
helpful_votes        0.378716
total_votes          0.378716
vine                 0.378716
verified_purchase    0.378716
dtype: float64

In [12]:
# filter by cusomers enrolled in the vine program 
votes_paid = votes_filter[(votes_filter['vine'] == "Y")]
votes_paid

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [13]:
# determine the total amount of votes from customers enrolled in the vine program 
votes_paid['review_id'].count()

0

In [14]:
# determine the total amount of votes with 5-star ratings from customers enrolled in the vine program 
votes_paid[(votes_paid["star_rating"] == 5.0)].count()

review_id            0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
dtype: int64

In [15]:
# determine the percentage of 5-star votes from customers enrolled in the vine program 
(votes_paid[(votes_paid["star_rating"] == 5.0)].count()) / (votes_paid.count())

review_id           NaN
star_rating         NaN
helpful_votes       NaN
total_votes         NaN
vine                NaN
verified_purchase   NaN
dtype: float64